apiVersion: apps/v1
kind: Deployment
metadata:
  name: gin-basic
  labels:
    app: gin-basic
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gin-basic
  template:
    metadata:
      labels:
        app: gin-basic
    spec:
      containers:
      - name: gin-basic
        image: lang-go-gin-basic:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
          name: http
        livenessProbe:
          httpGet:
            path: /status
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /status
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
